body {
    background-color: rgb(227, 245, 185);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 13, 80);
    padding: 10px 30px 10px 30px;

}

.challange {
    text-align: center;
    padding-top: 200px;
}

.challange h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 20, 94);
}

.challange p {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 53, 7);
}

.challange button {
    background-color: rgb(73, 133, 13);
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
}

.challange button:hover {
    background-color: chartreuse;
    transform: scale(1.05);
    box-shadow: 0 0.4rem 0 rgba(2, 22, 46, 0.6);
    cursor: pointer;
}

.hide {
    display: none;
}


.hide {
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 20, 94);
}

.hide button {
    background-color: rgb(73, 133, 13);
    font-size: 35px;
    text-align: left;
    border-radius: 4px;
    font-weight: bolder; 
    width: 500px; 
    padding: 10px 10px 10px 10px;

}

.hide button:hover {
    background-color: chartreuse;
    transform: scale(1.05);
    box-shadow: 0 0.4rem 0 rgba(2, 23, 49, 0.6);
    cursor: pointer;
}

.input-box {
    padding: auto;
}

.hide .input{
    font-size: 60px;
    padding: 5px;
    text-align: center;
}

.hide .submit {
    font-size: 30px;
    text-align: center;
}

.highscore-container {
    display: none;
}

.highscore-container h2 {
    font-size: 60px;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 20, 94);
}
 .highscore-btn{
    background-color: rgb(73, 133, 13);
    font-size: 25px;
    text-align: center;
    border-radius: 4px;
    font-weight: bolder; 
    width: 300px; 
    padding: 10px 10px 10px 10px;

}

.highscore1 {
    text-align: center;
}




